body{
    background: linear-gradient(to bottom, #1f8fff, #bb75c9);
    background-attachment: fixed;
}

.manage-booking {
    background-color: #c6e2ff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #005eb8;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #004087;
  }
  
  .booking-details {
    margin-top: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  p span {
    font-weight: bold;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .cancel-booking {
    background-color: #d43f3a;
  }
  
  .modify-booking {
    background-color: #3a87ad;
  }
  